<h2>Fill out this form to add an item!</h2>

<form action="/Home/AddNewItem" method="post">
    <input type="text" name="Name" placeholder="Item name" />
    <input type="hidden" name="ItemID" value=0 />
    <input type="submit" value="Save" />
</form>